DATA INGESTION

In [2]:
import pandas as pd

# Data for Branch 1
data_branch1 = {
    'Branch': ['Branch 1', 'Branch 1', 'Branch 1'],
    'Product': ['Product A', 'Product B', 'Product C'],
    'Sales': [150, 200, 250],
    'Date': ['2024-01-10', '2024-01-11', '2024-01-12']
}

# Convert to DataFrame and save as CSV
df_branch1 = pd.DataFrame(data_branch1)
df_branch1.to_csv('branch1_sales.csv', index=False)

In [3]:
import json

# Data for Branch 2
data_branch2 = [
    {"Branch": "Branch 2", "Product": "Product A", "Sales": 180, "Date": "2024-01-10"},
    {"Branch": "Branch 2", "Product": "Product B", "Sales": 220, "Date": "2024-01-11"},
    {"Branch": "Branch 2", "Product": "Product C", "Sales": 260, "Date": "2024-01-12"}
]

# Save as JSON
with open('branch2_sales.json', 'w') as json_file:
    json.dump(data_branch2, json_file, indent=4)

In [4]:
# Data for Branch 3
data_branch3 = {
    'Branch': ['Branch 3', 'Branch 3', 'Branch 3'],
    'Product': ['Product A', 'Product B', 'Product C'],
    'Sales': [170, 210, 270],
    'Date': ['2024-01-10', '2024-01-11', '2024-01-12']
}

# Convert to DataFrame and save as Excel
df_branch3 = pd.DataFrame(data_branch3)
df_branch3.to_excel('branch3_sales.xlsx', index=False)

In [5]:
# Ingest CSV
csv_data = pd.read_csv('branch1_sales.csv')

# Ingest JSON
json_data = pd.read_json('branch2_sales.json')

# Ingest Excel
excel_data = pd.read_excel('branch3_sales.xlsx')

# Check the first few rows to ensure successful ingestion
print(csv_data.head())
print(json_data.head())
print(excel_data.head())

     Branch    Product  Sales        Date
0  Branch 1  Product A    150  2024-01-10
1  Branch 1  Product B    200  2024-01-11
2  Branch 1  Product C    250  2024-01-12
     Branch    Product  Sales       Date
0  Branch 2  Product A    180 2024-01-10
1  Branch 2  Product B    220 2024-01-11
2  Branch 2  Product C    260 2024-01-12
     Branch    Product  Sales        Date
0  Branch 3  Product A    170  2024-01-10
1  Branch 3  Product B    210  2024-01-11
2  Branch 3  Product C    270  2024-01-12

DATA CLEANING

In [6]:
# Handling Missing Values: Fill or drop missing values.
# Fill missing values with 0 or a specific value
for df in [csv_data, json_data, excel_data]:
    df.fillna(0, inplace=True)

In [7]:
[print(df.isnull().sum()) for df in [csv_data, json_data, excel_data]]

Branch     0
Product    0
Sales      0
Date       0
dtype: int64
Branch     0
Product    0
Sales      0
Date       0
dtype: int64
Branch     0
Product    0
Sales      0
Date       0
dtype: int64

[None, None, None]

In [8]:
[print(df.nunique()) for df in [csv_data, json_data, excel_data]]

Branch     1
Product    3
Sales      3
Date       3
dtype: int64
Branch     1
Product    3
Sales      3
Date       3
dtype: int64
Branch     1
Product    3
Sales      3
Date       3
dtype: int64

[None, None, None]

DATA TRANSFORMATION

In [9]:
for df in [csv_data, json_data, excel_data]:
    df['Sales'] = pd.to_numeric(df['Sales'], errors='coerce')

for df in [csv_data, json_data, excel_data]:
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [13]:
df.reset_index(drop=True, inplace=True)

Once the data is cleaned and standardized, concatenate all the data into a single DataFrame.

In [12]:
# Concatenate all data into one DataFrame
combined_data_of_3_formats = pd.concat([csv_data, json_data, excel_data])

# Drop duplicate rows if necessary
combined_data_of_3_formats.drop_duplicates(inplace=True)

# Check the final data
print(combined_data_of_3_formats.head())

     Branch    Product  Sales       Date
0  Branch 1  Product A    150 2024-01-10
1  Branch 1  Product B    200 2024-01-11
2  Branch 1  Product C    250 2024-01-12
0  Branch 2  Product A    180 2024-01-10
1  Branch 2  Product B    220 2024-01-11

In [15]:
combined_data_of_3_formats

     Branch    Product  Sales       Date
0  Branch 1  Product A    150 2024-01-10
1  Branch 1  Product B    200 2024-01-11
2  Branch 1  Product C    250 2024-01-12
0  Branch 2  Product A    180 2024-01-10
1  Branch 2  Product B    220 2024-01-11
2  Branch 2  Product C    260 2024-01-12
0  Branch 3  Product A    170 2024-01-10
1  Branch 3  Product B    210 2024-01-11
2  Branch 3  Product C    270 2024-01-12

 Save Data to CSV

In [13]:
# Save the combined dataset into a CSV file
combined_data_of_3_formats.to_csv('combined_data.csv', index=False)